{% extends 'base.html' %}

{% block contents %}
<body>           
    {% for blog in blogs.all %}
    <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.date}}</h6>
              <p class="card-text">{{blog.summary}}</p>
              <a href='{%url "detail" blog.id%}' class="card-link">더보기</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <br>
    {%endfor%}
</body>
{%endblock%}
</html>